.franker-dst-text {
	color: #292;
}

#franker_removable_cover {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	z-index:10000;
	background-color:rgba(0,0,0,0.3);
	pointer-events:all;
	display:block;
}

#frankercovertext {
	position:absolute;
	top:0px;
	left:40%;
	z-index:1001;
	color:#CCC;
	font-weight:bold;
	font-size:16pt;
	background-color:rgba(0,0,0,1.0);
	padding:20pt !important;
	border-radius:15pt;
}