<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Yurii Soldak</string>
	<key>Builder Version</key>
	<string>6534.51.22</string>
	<key>CFBundleDisplayName</key>
	<string>Franker</string>
	<key>CFBundleIdentifier</key>
	<string>org.ysoldak.safari.franker</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.0</string>
	<key>CFBundleVersion</key>
	<string>1.3.0</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>frankate_selection</string>
				<key>Identifier</key>
				<string>frankate_selection</string>
				<key>Title</key>
				<string>Frankate</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>frankate_page</string>
				<key>Identifier</key>
				<string>toolbar_frankate_page</string>
				<key>Image</key>
				<string>Toolbar.png</string>
				<key>Include By Default</key>
				<false/>
				<key>Label</key>
				<string>Frankate Page</string>
				<key>Palette Label</key>
				<string>Frankate Page</string>
				<key>Tool Tip</key>
				<string>Frankates Page</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>frankate_selection</string>
				<key>Identifier</key>
				<string>toolbar_franakate_selection</string>
				<key>Image</key>
				<string>FrankateSelection.png</string>
				<key>Include By Default</key>
				<false/>
				<key>Label</key>
				<string>Frankate Selection</string>
				<key>Palette Label</key>
				<string>Frankate Selection</string>
				<key>Tool Tip</key>
				<string>Frankate Selection</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>shortcut.js</string>
				<string>franker_core.js</string>
				<string>inject.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>frankate.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Expand your vocabulary by parallel reading web sites.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://franker.googlecode.com/svn/trunk/update.plist</string>
	<key>Website</key>
	<string>http://franker.googlecode.com/</string>
</dict>
</plist>
