<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Languages</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>auto</string>
		<key>Key</key>
		<string>lang_src</string>
		<key>Title</key>
		<string>Source</string>
		<key>Titles</key>
		<array>
			<string>Autodetect</string>
			<string>English</string>
			<string>French</string>
			<string>German</string>
			<string>Italian</string>
			<string>Russian</string>
			<string>Spanish</string>
			<string>Swedish</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>auto</string>
			<string>en</string>
			<string>fr</string>
			<string>de</string>
			<string>it</string>
			<string>ru</string>
			<string>es</string>
			<string>sv</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>en</string>
		<key>Key</key>
		<string>lang_dst</string>
		<key>Title</key>
		<string>Destination</string>
		<key>Titles</key>
		<array>
			<string>English</string>
			<string>French</string>
			<string>German</string>
			<string>Italian</string>
			<string>Russian</string>
			<string>Spanish</string>
			<string>Swedish</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>en</string>
			<string>fr</string>
			<string>de</string>
			<string>it</string>
			<string>ru</string>
			<string>es</string>
			<string>sv</string>
		</array>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Shortcuts</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Ctrl+F</string>
		<key>Key</key>
		<string>shortcut_frankate_selection</string>
		<key>Title</key>
		<string>Frankate Selection</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Ctrl+Alt+F</string>
		<key>Key</key>
		<string>shortcut_frankate_page</string>
		<key>Title</key>
		<string>GoogleTranslate Page</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>state_frankate_page</string>
		<key>Title</key>
		<string>frankate translated</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Styles</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>color: #292 !important; font-size: inherit !important;</string>
		<key>Key</key>
		<string>style_dst</string>
		<key>Title</key>
		<string>Translated Text</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
